.wu {
  font-family: monospace;
  color: black;
  text-align: center;
  font-size: 75;
}

.wu:hover {
  color: yellow;
}
img {
  padding: 6px;
}
.column {
    width: 300px;
    float: left;
  }

.sidebar {
  width: 30%;
  float: right;
  background-color: yellow;
  border-style: ridge;
  padding: 6px;
  margin: 9px;
}
