p.intro {
  width: 50%;
  font-style: italic;
  color: blue;
}

p.author {
  width: 75%;
  font-style: italic;
  font-weight: bold;
}

h2.intro {
  color: red;
  font-style: normal;
}

img.intro {
  width: 550px;
}

.important {
  color: red;
}

.unimportant {
  color: blue;
}

.highlight {
  color: green;
}

.fish-type {
  border-style: dotted;
  border-color: purple;
}

.div {
  color: green;
  font-style: skia;
}
.column {
  width: 300px;
  float: left;
}
.my-class {
  border: 2px solid green;
  padding: 4px;
  margin: 12px;
  background-color: orange;
}

.digital p {
  background-color: red;
}

.analog p {
  background-color: yellow;
}

.digital p a {
  font-weight: bold;
}

.analog p a {
  font-style: italic;
}

a {
  font-weight: normal;
}
